@layout('layouts.app')

@section('content')
  @set('title', 'Add a Post')

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
          <h2 class="title has-text-centered">Add a Post</h2>
          @include('partials._notification')

          
        </div>
      </div>
    </div>
  </section>
@endsection
