@layout('layouts.app')

@section('content')
  @set('title', 'Home')

  <section class="section">
    <div class="container">
      <h2 class="subtitle is-3">Latest Posts</h2>
      @include('partials._notification')
    </div>
  </section>
@endsection