@layout('layouts.app')

@section('content')
  @set('title', '401: Unauthorized')

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-4 is-offset-4 has-text-centered">
          <h2 class="title">401: Unauthorized</h2>
        </div>
      </div>
    </div>
  </section>
@endsection
