@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

$primary: #7fba23;
$blue: #98da30;
$box-radius: 4px;
$footer-background-color: #f8f9fb;
$navbar-breakpoint: 0;

@import "node_modules/bulma/bulma";

@font-face {
  font-family: 'AO Icons';
  src: url("../fonts/ao-icons.ttf") format('truetype');
}

@font-face {
  font-family: 'AO Bold';
  src: url("../fonts/AoOz-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'AO Regular';
  src: url("../fonts/AoOz-Regular.ttf") format('truetype');
}

h1 {
  font-family: 'AO Bold', sans-serif;
}

h2 {
  font-family: 'AO Regular', sans-serif;
}

h3 {
  font-family: 'AO Regular', sans-serif;
}

.navbar-title {
  font-family: 'AO Bold', sans-serif;
  font-size: 1.2em;
}

.navbar-title-icon {
  font-family: 'AO Icons', sans-serif;
  font-size: 1.2em;
}

.card-header > .title:not(:last-child) {
  margin-bottom: 0 !important;
}

.centered-img {
  display:block; 
  margin-left:auto; 
  margin-right:auto; 
  width: 450px;
  padding-bottom: 25px;
}

/*top right bottom left*/
.profile-column h1 {
  margin: 10px 0 10px 5px;
}

.profile-column h3 {
  margin: 10px 0 10px 5px;
}

.profile-column p {
  margin: 10px 0 10px 5px;
  font-family: 'AO Regular', sans-serif;
}

.tabs-content {
  margin: 0 10px 0 10px;
}

.hidden {
  display: none;
}

@media screen and (min-width: 0) {
  .navbar > .container .navbar-brand,
  .container > .navbar .navbar-brand {
    margin-left: 3em;
  }

  .navbar > .container .navbar-menu,
  .container > .navbar .navbar-menu {
    margin-right: 3em;
  }
}

.card-footer-item-upvote:hover {
  background-color: #73a920 !important;
}

.card-footer-item-downvote:hover {
  background-color: #ff3860 !important;
}

.card-footer-item-upvote:hover > a > i {
  color: #ffffff !important;
}

.card-footer-item-downvote:hover > a > i {
  color: #ffffff !important;
}

.button-question-upvote {
  color: #98da30 !important;
}

.button-question-downvote {
  color: #98da30 !important;
}

.button-question-upvote:hover {
  background-color: #73a920 !important;
  border: 1px solid white !important;
  color: white !important;
}

.button-question-downvote:hover {
  background-color: #ff3860 !important;
  border: 1px solid white !important;
  color: white !important;
}