@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

$primary: #7fba23;
$blue: #98da30;
$box-radius: 4px;
$footer-background-color: #f8f9fb;

@import "node_modules/bulma/bulma";